.button-flex{
    display:flex;
    align-items:center;
    justify-content:center;
}

.button {
    padding: 1rem;
    border:2px solid rgb(255,255,255);
    border-radius: 5px;
    cursor: pointer;
    width:10rem;
    transition: all 500ms;
    color: rgb(0,0,0);
}
.button__icon{
    margin: 0 0.2rem;
}

.button__text {
    color: rgb(0,0,0);
    font-weight:600;
    transition: all 500ms;
}

.button:hover {
    background: rgb(13,11,12);
    color: rgb(255,255,255);
}
.button:hover .button__text {
    color: rgb(255,255,255);
}