.container {
  min-height:100vh;
  background: rgb(13,11,12);
  color: rgb(255,255,255);
  padding: 1rem;
}

.container--position-relative {
    position:relative;
}

.cards {
    display:flex;
    flex-wrap:wrap;
    gap: 2rem;
    margin: 2rem 0;
}

.cards__buttons{
    flex: 1 1 100%;
    display: flex;
    justify-content: flex-end;
    height: 3rem;
}

.cards__buttons button {
    margin-right: 1rem;
}

.cards__card {
    height: 5rem;
    flex: 0 0 45%;
    display: flex;
    align-items: center;
    transition: all 500ms;
    background: rgb(13,11,12);
    border-radius: 5px;
}

.cards__card::before {
    position: absolute;
    content: '';
    width: 0.1rem;
    height: 100%;
    background: rgb(255 232 31 / 80%);
    box-shadow: 0px 0px 17px rgb(255 232 31 / 55%);
}

.cards__card:hover {
   background: linear-gradient(0deg, rgba(13,11,12,1) 8%, rgba(13,11,12,1) 33%, rgba(13,11,12,0.9360119047619048) 40%, rgba(13,11,12,0.896796218487395) 49%, rgba(13,11,12,0.8491771708683473) 62%, rgba(13,11,12,0.3981967787114846) 75%, rgba(13,11,12,0.14609593837535018) 92%);
   box-shadow: 3px 3px 17px rgb(0 0 0 / 50%);
}

.cards__card:hover::before{
    transform: translateY(-5px;)
}


.position-relative {
    position:relative;
}

.cards__card:hover .cards__image {
    opacity:0.75;
}

.cards__card:hover .cards__card-link {
    letter-spacing: 1px;
    
}

.cards__card--pointer{
    cursor:pointer;
}

.cards__card-text {
  font-size:1.5rem;
  margin: 0 1rem;
}

.cards__image {
    position: absolute;
    height: 135px;
    bottom: 0;
    right: 0px;
    opacity: 0;
    transition: all 500ms;
}

.cards__card-link {
    color: rgb(255,255,255);
    text-decoration: none;
    transition: all 300ms;
}
